:root{
  --bg-color: hsla(261,91%,23%,1);
  --bg-gradient: radial-gradient(at 39% 26%, hsla(261,100%,41%,1) 0px, transparent 50%),
radial-gradient(at 79% 30%, hsla(202,56%,47%,1) 0px, transparent 50%),
radial-gradient(at 65% 69%, hsla(259,66%,63%,1) 0px, transparent 50%),
radial-gradient(at 44% 99%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(259,66%,63%,1) 0px, transparent 50%),
radial-gradient(at 20% 41%, hsla(202,56%,47%,1) 0px, transparent 50%);
  --secondary-color:white;
  --third-color: #41ecf5;
  --figures-color: #8765C6;
  --dark-color: #282828;
}
